h1 {
   
   padding: 1px; 
   margin: 1px 4px 0 0;
   font-size:55;
 }

 h2 {
   color:  black;
   font-size:0px;
   padding: 1px; 
   margin: 1px 4px 0 0;
   font-size:0;
 }

 h3 {
   color: white; 
   font-size:20px;
   padding: 1px; 
   margin: 1px 4px 0 0;
 }

 h4 {
  color: white; 
  font-size:2px;
   padding: 1px; 
   margin: 1px 4px 0 0;

 }
 
.alignnone{
   margin: 1px 4px 0 0;
   padding: 1px; 
   border: 8px solid black;
   border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    
          
   }

   a {
     color:blue;
   font-size:20px;
   
   }
  
   img{
    background-color:black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
   }
   

