h1 {
   
   padding: 1px; 
   margin: 1px 4px 0 0;
   font-size:55;
 }

 h2 {
   color:  red;
   font-size:20px;
   padding: 1px; 
   margin: 1px 4px 0 0;
   font-size:40;
 }

 h3 {
   color: white; 
   font-size:20px;
   padding: 1px; 
   margin: 1px 4px 0 0;
 }

 h4 {
  color: white; 
  font-size:3px;
   padding: 1px; 
   margin: 1px 4px 0 0;

 }




.alignnone{
   margin: 1px 4px 0 0;
   padding: 1px; 
   border: 8px solid black;
   border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    
          
   }

   a {
     color:blue;
   font-size:20px;
   
   p {
     color:white;

   }





   }
   